
@model Notify.Models.ContactRequestEmail

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <p>From:  @Model.Name</p>
    <p>Email:  @Model.Email</p>
    <p>Phone: @Model.Phone</p>
    <p>Message: @Model.Message</p>
</body>
</html>
